
.github-button {
    position: fixed;
    top: 100px;
    left: 100px;

    &__link {
        display: block;
        width: 150px;
        height: 40px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 0.2s;

        &:hover {
            transform: scale(1.2);
        }
    }
}
